<div id="<%= dom_id material %>">
  <p>
    <strong>Name:</strong>
    <%= material.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= material.description %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= material.quantity %>
  </p>

  <p>
    <strong>User:</strong>
    <%= material.user_id %>
  </p>

</div>
