<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Reciclaje Cristobalbarrera" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= csrf_meta_tags %>
  </head>

  <body>
<header>
  <div class="container">
  <h1 class="text-primary">Bootstrap está funcionando correctamente 🎉</h1>
  <button class="btn btn-success">Botón de prueba</button>
</div>
      <nav>
        <% if user_signed_in? %>
          <p>Bienvenido, <%= current_user.email %>!</p>
        <% else %>
          <%= link_to "Iniciar sesión", new_user_session_path %>
          <%= link_to "Registrarse", new_user_registration_path %>
        <% end %>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
